# Configuration file

##########################################################################################################
# HarvestLevelNames
#--------------------------------------------------------------------------------------------------------#
# Use materialnames to set the name of a harvest level. Check the MaterialDefaults file for the material names.
# For Example: 'Level0=wood' would change the first harvest level to wood from stone.
##########################################################################################################

HarvestLevelNames {
    S:Level0=Stone
    S:Level1=Copper
    S:Level2=Iron
    S:Level3=Tin
    S:Level4=Diamond
    S:Level5=Obsidian
    S:Level6=Platinum
    S:Level7=Cobalt
    S:Level8=Vulcanite
	S:Level9=Sanguinite
}


